/* --- 文章页 --- */

/* 首行缩进 */
#article-container > p {
  text-indent: 2em;
}

/* --- 留言板 --- */

/* 信封标题 */
.pace-done .page-title {
  display: none;
}

/* 图片圆角 */
#envelope img {
  border-radius: 0;
}

 /* --- 相册 --- */

/* 详情不显示顶部 */
#album_detail > div {
  display: none;
}

/* 布局调整 */
#album_detail{
  margin-top: -2rem;
}

/* 深色模式下无滤镜 */
[data-theme="dark"] #album_detail img {
  filter: blur(0) brightness(1) !important;
}

/* 浅色模式下无滤镜 */
[data-theme="light"] #album_detail img {
  filter: blur(0) brightness(1);
}

/* --- 通用样式 --- */

/* Banner 样式 */
.topGroup .todayCard::after {
  box-shadow: none;
}

/* 按钮修复 */
.topGroup .banner-button {
  width: auto;
}

/* 按钮修复 */
.author-content-item .card-content .banner-button-group .banner-button {
  width: auto;
}



@media screen and (max-width: 768px) {
  #essay_page
    > div.author-content.author-content-item.essayPage.single
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
  #album
    > div.author-content.author-content-item.album.single
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
  #album_detail
    .author-content-item
    .card-content
    .banner-button-group
    .banner-button
    i,
  .author-content-item .card-content .banner-button-group .banner-button svg {
    background: transparent;
  }
  #about-page
    > div:nth-child(7)
    > div.about-statistic.author-content-item
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }

  #about-page
    > div:nth-child(11)
    > div.author-content-item.like-music
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
}

#album .author-content.author-content-item {
  background-size: 100%;
  animation: "";
  background: url(https://files.sunguoqi.com/images/202311261523905.webp) left
    42% / cover no-repeat;
}

.author-content-item.game-yuanshen::after {
  /* -webkit-box-shadow: none; */
  -webkit-box-shadow: 0 -69px 203px 11px #000000 inset;
}
#about-page .about-statistic::after {
  -webkit-box-shadow: 0 -69px 203px 11px #000000 inset;
}
.author-content-item.like-music::after {
  box-shadow: none;
}

.reward-list-item .reward-list-item-money {
  background: #f2b94b;
}

/* --- 深色模式 --- */

[data-theme="dark"] {
  --font-color: #f7f7fa;
}

/* 去除 Banner 背景 */
[data-theme="dark"] #random-banner {
  background: none;
}

[data-theme='dark'] #footer-wrap img {
  filter: blur(0) brightness(1);
}

// 弹幕样式

#article-container a:not(.headerlink, .fancybox, .default-style a) {
    font-weight: 700;
    color: var(--font-color);
    padding: 0 3px;
    border-bottom: 2px var(--anzhiyu-main) solid;
}

#article-container a:not(.headerlink, .fancybox, .default-style a):hover {
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--anzhiyu-main);
}

#danmu {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 1;
    pointer-events: none;
}

.hidedanmu {
    opacity: 0;
}

.hidedanmu * {
    pointer-events: none !important;
}

div#danmuBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div#danmuBtn button {
    background: var(--anzhiyu-main);
    color: white;
    padding: 8px 20px;
    margin: 0 20px;
    border-radius: 100px;
}

.default-style {
    pointer-events: all;
    cursor: pointer;
    font-size: 16px;
    border-radius: 100px;
    overflow: hidden;
}

.default-style a {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
    color: #eee !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px 6px 6px;
    text-decoration: none !important;
}

.default-style a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.default-style img {
    pointer-events: none;
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0 !important;
    border-radius: 50% !important;
}

.default-style p {
    line-height: 1;
    pointer-events: none;
    margin: 0 !important;
    padding-left: 10px !important;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}