/* --- 文章页 --- */

/* 首行缩进 */
#article-container > p {
  text-indent: 2em;
}

/* --- 留言板 --- */

/* 信封标题 */
.pace-done .page-title {
  display: none;
}

/* 图片圆角 */
#envelope img {
  border-radius: 0;
}

 /* --- 相册 --- */

/* 详情不显示顶部 */
#album_detail > div {
  display: none;
}

/* 布局调整 */
#album_detail{
  margin-top: -2rem;
}

/* 深色模式下无滤镜 */
[data-theme="dark"] #album_detail img {
  filter: blur(0) brightness(1) !important;
}

/* 浅色模式下无滤镜 */
[data-theme="light"] #album_detail img {
  filter: blur(0) brightness(1);
}

/* --- 通用样式 --- */

/* Banner 样式 */
.topGroup .todayCard::after {
  box-shadow: none;
}

/* 按钮修复 */
.topGroup .banner-button {
  width: auto;
}

/* 按钮修复 */
.author-content-item .card-content .banner-button-group .banner-button {
  width: auto;
}



@media screen and (max-width: 768px) {
  #essay_page
    > div.author-content.author-content-item.essayPage.single
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
  #album
    > div.author-content.author-content-item.album.single
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
  #album_detail
    .author-content-item
    .card-content
    .banner-button-group
    .banner-button
    i,
  .author-content-item .card-content .banner-button-group .banner-button svg {
    background: transparent;
  }
  #about-page
    > div:nth-child(7)
    > div.about-statistic.author-content-item
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }

  #about-page
    > div:nth-child(11)
    > div.author-content-item.like-music
    > div
    > div.banner-button-group
    > a
    > i {
    background: transparent;
  }
}

#album .author-content.author-content-item {
  background-size: 100%;
  animation: "";
  background: url(https://files.sunguoqi.com/images/202311261523905.webp) left
    42% / cover no-repeat;
}

.author-content-item.game-yuanshen::after {
  /* -webkit-box-shadow: none; */
  -webkit-box-shadow: 0 -69px 203px 11px #000000 inset;
}
#about-page .about-statistic::after {
  -webkit-box-shadow: 0 -69px 203px 11px #000000 inset;
}
.author-content-item.like-music::after {
  box-shadow: none;
}

.reward-list-item .reward-list-item-money {
  background: #f2b94b;
}

/* --- 深色模式 --- */

[data-theme="dark"] {
  --font-color: #f7f7fa;
}

/* 去除 Banner 背景 */
[data-theme="dark"] #random-banner {
  background: none;
}

[data-theme='dark'] #footer-wrap img {
  filter: blur(0) brightness(1);
}

.flink .site-card-avatar{
  padding: 4px 8px 0 0;
}